fastapi==0.115.0
slowapi==0.1.9
uvicorn[standard]==0.32.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
stripe==11.1.0
requests==2.32.3
sendgrid==6.11.0
python-dotenv==1.0.1
pydantic==2.9.2
email-validator==2.2.0
python-multipart==0.0.12
tzdata==2024.2
